canvas {
    pointer-events:none;
    position: fixed;
    z-index:-1
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  /*background-color: lightblue;*/
  color: black;
  font-size: 25px;
}

#output {
	position: fixed;
}
h1 {
	text-align: center;z-index: -1
}
#gazeInfo {
	text-align: center;
}
#calibrationButton{
	left:0; right: 0;
}